<div class="form-group">
    <label>{{ title }}</label>
    {#<input type="text" class="form-control" value="{{ value }}" >#}
    <textarea class="form-control" data-element="{{ key }}" placeholder="{{ title }}">{{ value }}</textarea>
</div>