{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% javascripts
    'assetic/js/svg/jquery.svg.js'
    '@BcardBundle/Resources/public/js/bootstrap-colorpicker.min.js'
    '@BcardBundle/Resources/public/js/bcard.js'
    output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '@BcardBundle/Resources/public/css/bootstrap-colorpicker.min.css'
    '@BcardBundle/Resources/public/css/costum.css'
    filter='cssrewrite' output='css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block body %}


    <div class="page-title">
        <div class="container">
            <h2 class="text-right text-uppercase"><b style="color:#ef4477">{{ template.name }}</b></h2>
        </div>
    </div>

    <div class="container produit-page">

        <div class="row">
            <div class="col-md-8">
                <div class="col-md-6 produit-content">
                    <div class="bcard recto">
                        {{ template.recto | convertSVG | raw }}
                    </div>

                </div>
                {% if template.verso|length>0 %}
                <div class="col-md-6 produit-content">

                    <div class="bcard verso">
                        {{ template.verso | convertSVG | raw  }}

                    </div>

                </div>
                    {% endif %}
            </div>
            <div class="col-md-4 formedition" style="display: none;"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#fiche_Validation" role="button" data-toggle="modal" class="btn btn-success pull-right">Valider</a>
            </div>
        </div>
    </div>
    <div id="fiche_Validation" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Valider Ma commande</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form, {'method': 'POST','attr': {'id': 'formimport'}}) }}
                    {{ form_row(form.name,{'attr':{'class':'form-control'}}) }}
                    {{ form_row(form.email,{'attr':{'class':'form-control'}}) }}
                    {{ form_row(form.tel,{'attr':{'class':'form-control'}}) }}
                    {{ form_row(form.adresse,{'attr':{'class':'form-control'}}) }}
                    {{ form_row(form.Valider,{'attr':{'class':'btn btn-success'}}) }}

                    {{ form_end(form) }}
                </div>
               <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
            </div>
        </div>
    </div>
    <div id="validation" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Validation de ma commande</h4>
                </div>
                <div class="modal-body">
                    Votre Commande est envoyé avec succes
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}